@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 200%;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: rgb(88, 14, 157);
    align-items: center;
    background-color: rgb(247, 247, 247);
    width: 100%;
}
a{
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
header ul li{
    margin: 100px;
}
img{
    width: 250px;
}
h1{
    font-size: 300px;
    color: rgb(109, 24, 137);
    
    }
p{
    font-size: 200%;
    color: rgb(0, 0, 0);
}
.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    

}
.presentacion h1{
    font-size: 70px;
    color: #472846;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}
.presentacion p{
   width: 70%; 
   font-size: 70px;
   
   font-family: "Caveat", cursive;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
}
#nosotros {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nosotros iframe{
    padding: 10px;
    margin: 10px;
}
.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgb(154, 101, 203);
}
.caja{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

.caja img{
    border-radius: 60%;
    justify-content: center;
}
.caja p{
    font-size: 30px;
}
.caja h1{
    font-size: 70px;
}

.caja2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

.caja2 img{
    border-radius: 100%;
    justify-content: center;
}
.caja2 p{
    font-size: 30px;
}
.caja2 h1{
    font-size: 70px;
}
.caja2 h3{
    font-size: 35px;
    font-style: normal;
    list-style: none;
}